version: '2'
services:

  # This is the app, once this has bedded in I think we can remove the ext ports
  # for the API and the proxy
  proximate-app:
    container_name: "app_instance"
    image: proximate-app
    ports:
    - "8084:8084"
    links:
    - proximate-api

  # This defines an external port so it can be called by the outside world
  proximate-api:
    container_name: "api_instance"
    image: proximate-api
    ports:
    - "8080:8080"
    links:
    - proximate-proxy
    volumes:
    - proximate-volume:/remote/cache

  # This does not need external ports defined, since it is for internal use only
  proximate-proxy:
    image: proximate-proxy
    ports:
    - "8082:8082"
    container_name: "proxy_instance"
    volumes:
    - proximate-volume:/remote/cache
    environment:
    - PROXY_LOG_PATH:/remote/proxy.log

volumes:
  proximate-volume:
