<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Proximate unit tests">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Proximate integration tests">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
	<listeners>
		<listener
			class="\Proximate\Test\TestListener"
			file="tests/classes/TestListener.php"
		/>
	</listeners>
</phpunit>
